*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --background: #eaecf0;
  --firstbutton: #2da899;
  --secondbutton: #6d7586;
  --list: #101828;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  background-color: var(--background);
  color: var(--list);
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

@media screen and (max-width: 530px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--background);
    transition: background 0.4s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.6s cubic-bezier(0.32, 0.08, 0.24, 1);
    z-index: 1500;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .nav-list {
    list-style: none;
  }

  .nav-list-desktop {
    display: none;
  }

  .nav-list-mobile {
    padding-top: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link-impulsive {
    width: auto;
    height: 2.2rem;
    position: relative;
    z-index: 1500;
  }
  .nav-link-moon {
    width: auto;
    height: 1.5rem;
    position: relative;
    z-index: 1500;
  }

  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .line {
    position: absolute;
    width: 1.5rem;
    height: 1.5px;
    background-color: var(--list);
    transition: margin-top 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .line-top {
    margin-top: 3px;
    transition: margin-top 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .line-bottom {
    margin-top: -0.4rem;
    transition: margin-top 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }

  .active .line-top {
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .active .line-bottom {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }

  header.active {
    height: 100%;
    background-color: var(--background);
  }

  .active .mobile-menu {
    padding-top: 0.9rem;
  }

  .active .nav-link-impulsive,
  .active .nav-link-moon {
    display: none;
  }

  .nav-items-hidden {
    display: none;
  }

  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }

  .nav-list-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.8s;
    visibility: hidden;
  }

  .active .nav-list-desktop {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 2s cubic-bezier(0.32, 0.08, 0.24, 1);
    visibility: visible;
  }

  .nav-list-desktop .nav-item {
    margin: 1rem;
    justify-content: flex-start;
    font-weight: 700;
  }
  section {
    padding-top: 5rem;
  }

  .hero {
    width: auto;
    height: 50rem;
  }

  .slider-wrapper {
    position: relative;
    margin: 0 auto;
  }

  .slider {
    display: flex;
    aspect-ratio: 9/16;
    border-radius: 32px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 5px 5px 10px var(--secondbutton);
  }

  .slider::-webkit-scrollbar {
    display: none;
  }

  .slider img {
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }

  .slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

  .slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--background);
    opacity: 0.75;
    transition: opacity ease 0.4s;
  }

  .slider-nav a:hover {
    opacity: 1;
  }

  .about-education {
    background-color: var(--firstbutton);
  }

  .title {
    text-align: center;
  }

  .title-heading {
    font-size: 3.2rem;
    line-height: 1;
    letter-spacing: -0.005rem;
  }

  .title-sub-heading {
    font-size: 1.9rem;
    letter-spacing: 0.008rem;
  }

  .cta {
    margin-top: 1rem;
    font-size: 1.6rem;
    text-align: center;
  }
  cta-link {
    color: var(--firstbutton);
    display: inline-block;
  }

  .title img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /*form {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  .name {
    flex: 1 0 130px;
  }
  .email {
    flex: 1 0 130px;
  }
  button {
    flex: 1 0 40px;
  }*/
}
