*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1400;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
}

.nav-list-mobile {
  display: none;
}

.nav-link {
  font-size: 1.4rem;
  color: #ffffff;
  padding: 0 1rem;
  transition: opacity 0.5s;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link-impulsive {
  width: auto;
  height: 3.4rem;
}

.nav-link-search {
  width: 1.6rem;
  background: url("imeges/search.svg") center no-repeat;
  height: 4.4rem;
}

.nav-link-bag {
  width: 1.6rem;
  background: url("imeges/bag.svg") center no-repeat;
  height: 4.4rem;
}

.about-education {
  background: url("imeges/LINE1.png");
  margin-top: 4.4rem;
}

.title {
  color: #ffffff;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading {
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: -0.005rem;
}

.title-sub-heading {
  font-size: 2.65rem;
  margin-top: 0.6rem;
  letter-spacing: 0.008rem;
}

.cta {
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link {
  color: #66bbff;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:hover {
  border-bottom: 2px solid #66bbff;
}

.about-work {
  background: url("imeges/LINE2.png");
}
.title-dark {
  color: #000;
}

.cta-link-darker {
  color: #0070c9;
}

.cta-link-darker:hover {
  border-bottom: 2px solid #0070c9;
}

.about-side-job {
  background: url("imeges/LINE3.png");
}

.hero {
  height: 69.2rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.6rem solid #ffffff;
  border-bottom: 0.6rem solid #ffffff;
}

.about-education {
  border-top: none;
}

.container-figure {
  max-width: 98rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container-figure img {
  width: 30%;
  margin: auto;
  border-radius: 30px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(209, 212, 223, 0.1);
  box-shadow: 4px 4px 10px #d1d4df, -4px -4px 10px #ffffff;
  margin-top: 30px;
}

@media screen and (max-width: 530px) {
  .about-education {
    background: url("imeges/LINE1.png");
  }
  .about-work {
    background-image: url("imeges/LINE2.png");
  }
  .about-side-job {
    background-image: url("imeges/LINE3.png");
  }
  .hero {
    height: 50rem;
    background-size: auto 54rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  .title-heading {
    font-size: 3.2rem;
  }
  .title-sub-heading {
    font-size: 1.9rem;
  }
  header {
    height: 4.8rem;
    transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }
  header .container {
    padding: 0;
  }
  .about-education {
    margin-top: 4.8rem;
  }
  .nav-list {
    margin-top: 0;
  }
  .nav-list-mobile {
    display: flex;
  }
  .nav-item {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
  }

  .nav-items-hidden {
    display: none;
  }
  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .line {
    position: absolute;
    width: 1.7rem;
    height: 1px;
    background-color: #ffffff;
    transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .line-top {
    margin-top: 3px;
  }
  .line-bottom {
    margin-top: -0.4rem;
  }
  .active .line-top {
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .active .line-bottom {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  header.active {
    height: 100%;
    background-color: #000;
  }
  .nav-link-impulsive {
    width: auto;
    height: 3.8rem;
    padding-top: 0.5rem;
    position: relative;
    z-index: 1500;
  }
  .nav-link-bag {
    width: 1.6rem;
    height: 4.8rem;
    position: relative;
    transition: opacity 3s;
  }
  .nav {
    position: relative;
  }
  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }
  .nav-list-dekstop {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  .active .nav-list-dekstop {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  .nav-list-dekstop .nav-item {
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  .nav-list-dekstop .nav-item:nth-child(6) {
    border-bottom: none;
  }
  form {
    width: 100%;
    max-width: 73.6rem;
    align-items: center;
    justify-content: center;
    place-items: center;
    font-size: 1.5rem;
  }
  .container-figure {
    max-width: 73.6rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 73.6rem;
    align-items: center;
    justify-content: space-between;
    place-items: center;
  }
  .container-figure img {
    width: 30%;
    margin: auto;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(209, 212, 223, 0.1);
    box-shadow: 4px 4px 10px #d1d4df, -4px -4px 10px #ffffff;
    margin-top: 30px;
  }
}

/*ini belum mobile adaptive*/

form {
  width: 100%;
  max-width: 98rem;
  align-items: center;
  justify-content: center;
  place-items: center;
  font-size: 1.5rem;
}

.personal-information {
  position: relative;
  width: 40rem;
  height: 35rem;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(209, 212, 223, 0.1);
  box-shadow: 14px 14px 20px #ecf0f3, -14px -14px 20px #ffffff;
  text-align: center;
  margin-top: 30px;
  display: block;
}

.first-name,
.last-name,
.email,
.password {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.personal-information input {
  background-color: rgba(209, 212, 223, 0.1);
  margin: 0 0 10px 0;
  padding: 0.6rem;
  height: 2rem;
  width: 100%;
  font-size: 14px;
  border-radius: 15px;
}

.subscription-purpose {
  position: relative;
  width: 40rem;
  height: 10rem;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(209, 212, 223, 0.1);
  box-shadow: 14px 14px 20px #ecf0f3, -14px -14px 20px #ffffff;
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.subscription-terms-conditions {
  position: relative;
  width: 40rem;
  height: 10rem;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(209, 212, 223, 0.1);
  box-shadow: 14px 14px 20px #ecf0f3, -14px -14px 20px #ffffff;
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.avatar,
.referrer {
  position: relative;
  width: 40rem;
  height: 12rem;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(209, 212, 223, 0.1);
  box-shadow: 14px 14px 20px #ecf0f3, -14px -14px 20px #ffffff;
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.brief-case {
  position: relative;
  width: 40rem;
  height: 20rem;
  margin: auto;
  border-radius: 30px;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(209, 212, 223, 0.1);
  box-shadow: 14px 14px 20px #ecf0f3, -14px -14px 20px #ffffff;
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.brief-case input {
  background-color: rgba(209, 212, 223, 0.1);
  margin: 10px 0 0 0;
  padding: 0.6rem;
  height: 8rem;
  width: 100%;
  font-size: 14px;
  border-radius: 15px;
}

.submit {
  position: relative;
  width: 15rem;
  height: 4rem;
  margin: auto;
  box-sizing: border-box;
  border: #ecf0f3;
  background-color: rgba(209, 212, 223, 0.1);
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

button {
  position: relative;
  width: 15rem;
  height: 4rem;
  border-radius: 15px;
  background: #0070c9;
  box-shadow: 14px 14px 20px #ecf0f3, -14px -14px 20px #ffffff;
  color: #ffffff;
}

button:hover {
  opacity: 0.8;
}
