*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --background: #eaecf0;
  --firstbutton: #2da899;
  --secondbutton: #6d7586;
  --list: #101828;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  background-color: var(--background);
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

@media screen and (max-width: 530px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--background);
    transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }

  a {
    display: block;
    text-decoration: none;
  }

  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-list-dekstop {
    display: none;
  }

  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    padding-top: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav-link-impulsive {
    width: auto;
    height: 2.2rem;
    padding-top: 0.9rem;
    position: relative;
    z-index: 1500;
  }
  .nav-link-moon {
    width: auto;
    height: 1.5rem;
    padding-top: 0.9rem;
    position: relative;
    z-index: 1500;
  }

  .line {
    position: absolute;
    width: 1.5rem;
    height: 1.5px;
    background-color: var(--list);
    transition: margin-top 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .line-top {
    margin-top: 3px;
    transition: margin-top 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .line-bottom {
    margin-top: -0.4rem;
    transition: margin-top 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }

  .active .line-top {
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .active .line-bottom {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }

  header.active {
    height: 100%;
    background-color: var(--firstbutton);
  }

  .nav-items-hidden {
    display: none;
  }

  .nav {
    position: relative;
  }

  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }

  .nav-list-dekstop {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
  }

  .active .nav-list-dekstop {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }

  .nav-list-dekstop .nav-item {
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid var(--list);
  }

  .nav-list-dekstop .nav-item:nth-child(5) {
    border-bottom: none;
  }
}
