*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --background: rgb(234, 236, 240);
  --firstbutton: rgb(87, 86, 187);
  --firstbuttontransparant: rgba(87, 86, 187, 0.7);
  --secondbutton: rgb(109, 117, 134);
  --list: rgb(16, 24, 40);
}

.darkmode {
  --background: rgb(234, 236, 240);
  --firstbutton: rgb(16, 24, 40);
  --firstbuttontransparant: rgba(16, 24, 40, 0.7);
  --secondbutton: rgb(109, 117, 134);
  --list: rgb(16, 24, 40);
}

html {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  background-color: var(--background);
  color: var(--list);
}

/*.hero {
  width: auto;
  height: 50rem;
}*/

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

@media screen and (max-width: 530px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--background);
    transition: background 0.4s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.6s cubic-bezier(0.32, 0.08, 0.24, 1);
    z-index: 1500;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .nav-list {
    list-style: none;
  }

  .nav-list-desktop {
    display: none;
  }

  .nav-list-mobile {
    padding-top: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link-impulsive {
    width: auto;
    height: 2.2rem;
    position: relative;
    z-index: 1500;
  }
  .nav-link-moon {
    width: auto;
    height: 1.5rem;
    position: relative;
    z-index: 1500;
  }

  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .line {
    position: absolute;
    width: 1.5rem;
    height: 1.5px;
    background-color: var(--list);
    transition: margin-top 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .line-top {
    margin-top: 3px;
    transition: margin-top 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .line-bottom {
    margin-top: -0.4rem;
    transition: margin-top 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }

  .active .line-top {
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .active .line-bottom {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform 0.4 cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }

  header.active {
    height: 100%;
    background-color: var(--background);
  }

  .active .mobile-menu {
    padding-top: 0.9rem;
  }

  .active .nav-link-impulsive,
  .active .nav-link-moon {
    display: none;
  }

  .nav-items-hidden {
    display: none;
  }

  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }

  .nav-list-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.8s;
    visibility: hidden;
  }

  .active .nav-list-desktop {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 2s cubic-bezier(0.32, 0.08, 0.24, 1);
    visibility: visible;
  }

  .nav-list-desktop .nav-item {
    margin: 1rem;
    justify-content: flex-start;
    font-weight: 700;
  }

  .slider-wrapper {
    position: relative;
    margin: 0 auto;
  }

  .carousel {
    padding-top: 5rem;
  }

  .slider {
    display: flex;
    aspect-ratio: 9/16;
    border-radius: 32px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 5px 5px 10px var(--secondbutton);
  }

  .slider::-webkit-scrollbar {
    display: none;
  }

  .slider img {
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }

  .slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

  .slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--background);
    opacity: 0.75;
    transition: opacity ease 0.4s;
  }

  .slider-nav a:hover {
    opacity: 1;
  }

  .about-education {
    background: url("imeges/My\ project-1\ \(17\).png");
    background-size: 350% auto;
    background-position-y: 57%;
    background-position-x: 50%;
    background-repeat: no-repeat;
  }
  .about-work {
    background: url("imeges/My\ project-1\ \(15\).png");
    background-size: 300% auto;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
  }
  .about-side-job {
    background: url("imeges/My\ project-1\ \(16\).png");
    background-size: 480% auto;
    background-position-y: 56%;
    background-position-x: 50%;
    background-repeat: no-repeat;
  }

  .hero {
    height: 50rem;
  }

  .title {
    padding-top: 5rem;
    text-align: center;
  }

  .title-heading {
    font-size: 3.2rem;
    line-height: 1;
    letter-spacing: -0.005rem;
    text-shadow: 1px 1px 3px var(--secondbutton);
  }

  .title-sub-heading {
    font-size: 1.6rem;
    letter-spacing: 0.008rem;
  }

  .cta {
    background-color: var(--firstbuttontransparant);
    box-shadow: 2px 2px 10px var(--secondbutton);
    padding: 13px;
    border-radius: 32px;
    margin-top: 25rem;
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px var(--secondbutton);

    color: var(--background);
  }
  .cta-link {
    color: var(--background);
    display: inline-block;
  }

  .cta-link:visited {
    color: var(--background);
  }

  .grid-container {
    display: grid;
    margin: 0 2.2rem;
    width: auto;
    height: 47rem;
    grid-template-rows: repeat(10, 5rem);
    grid-template-columns: auto auto;
    background-color: var(--background);
    box-shadow: 5px 5px 10px var(--secondbutton);
    border-radius: 32px;
    text-align: center;
    color: var(--background);
    align-content: start;
    gap: 1rem;
    padding: 1rem;
  }

  .grid-container > div {
    border-radius: 32px;
  }

  .grid-container-mini > div {
    border-radius: 16px;
  }

  .grid-container :nth-child(1) {
    background-color: var(--firstbuttontransparant);
    grid-row: 1 / span 3;
  }
  .grid-container :nth-child(2) {
    grid-row: 1 / span 2;
    background-color: var(--firstbuttontransparant);
  }
  .grid-container :nth-child(3) {
    grid-row: 3 / span 3;
    background-color: var(--firstbuttontransparant);
  }
  .grid-container :nth-child(4) {
    grid-row: 4 / span 3;
    background-color: var(--firstbuttontransparant);
  }

  .grid-container-mini {
    display: grid;
    height: 11rem;
    gap: 1rem;
    grid-template-rows: repeat(4, 2rem);
    grid-template-columns: auto auto;
    background-color: var(--firstbuttontransparant);
  }
  .grid-container-mini :nth-child(1) {
    grid-row: 1 / span 2;
    background-color: var(--firstbutton);
  }
  .grid-container-mini :nth-child(2) {
    grid-row: 1 / span 2;
    background-color: var(--firstbutton);
  }
  .grid-container-mini :nth-child(3) {
    grid-row: 3 / span 2;
    background-color: var(--firstbutton);
  }
  .grid-container-mini :nth-child(4) {
    grid-row: 3 / span 2;
    background-color: var(--firstbutton);
  }
  .grid-container :nth-child(6) {
    background-color: var(--firstbuttontransparant);
    grid-row: 6 / span 3;
  }

  /*form {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
  .name {
    flex: 1 0 130px;
  }
  .email {
    flex: 1 0 130px;
  }
  button {
    flex: 1 0 40px;
  }*/
}
