*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1400;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -1rem;
}

.nav-list-mobile {
  display: none;
}

.nav-link {
  font-size: 1.4rem;
  color: #ffffff;
  padding: 0 1rem;
  transition: opacity 0.5s;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link-impulsive {
  width: 1.6rem;
  background: url("imeges/search.svg") center no-repeat;
  height: 4.4rem;
}

.nav-link-search {
  width: 1.6rem;
  background: url("imeges/search.svg") center no-repeat;
  height: 4.4rem;
}

.nav-link-bag {
  width: 1.6rem;
  background: url("imeges/bag.svg") center no-repeat;
  height: 4.4rem;
}

.about-education {
  background: #000;
  margin-top: 4.4rem;
}

.title {
  color: #ffffff;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading {
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: -0.005rem;
}

.title-sub-heading {
  font-size: 2.65rem;
  margin-top: 0.6rem;
  letter-spacing: 0.008rem;
}

.cta {
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link {
  color: #66bbff;
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:hover {
  border-bottom: 2px solid #66bbff;
}

.about-work {
  background: #ffffff;
}
.title-dark {
  color: #000;
}

.cta-link-darker {
  color: #0070c9;
}

.cta-link-darker:hover {
  border-bottom: 2px solid #0070c9;
}

.about-side-job {
  background: #ffffff;
}

.hero {
  height: 69.2rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.6rem solid #ffffff;
  border-bottom: 0.6rem solid #ffffff;
}

.about-education {
  border-top: none;
}

@media screen and (max-width: 530px) {
  .about-education {
    background: #000;
  }
  .about-work {
    background: #ffffff;
  }
  .about-side-job {
    background: #ffffff;
  }
  .hero {
    height: 50rem;
    background-size: auto 54rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  .title-heading {
    font-size: 3.2rem;
  }
  .title-sub-heading {
    font-size: 1.9rem;
  }
  header {
    height: 4.8rem;
    transition: background 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }
  header .container {
    padding: 0;
  }
  .about-education {
    margin-top: 4.8rem;
  }
  .nav-list {
    margin-top: 0;
  }
  .nav-list-mobile {
    display: flex;
  }
  .nav-item {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
  }
  .nav-items-hidden {
    display: none;
  }
  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .line {
    position: absolute;
    width: 1.7rem;
    height: 1px;
    background-color: #ffffff;
    transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .line-top {
    margin-top: 3px;
  }
  .line-bottom {
    margin-top: -0.4rem;
  }
  .active .line-top {
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  .active .line-bottom {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.012, 0.96);
  }
  header.active {
    height: 100%;
    background-color: #000;
  }
  .nav-link-impulsive {
    width: 1.6rem;
    height: 4.8rem;
    position: relative;
    z-index: 1500;
  }
  .nav-link-bag {
    width: 1.6rem;
    height: 4.8rem;
    position: relative;
    transition: opacity 3s;
  }
  .nav {
    position: relative;
  }
  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
  }
  .nav-list-dekstop {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 5rem;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  .active .nav-list-dekstop {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
  }
  .nav-list-dekstop .nav-item {
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  .nav-list-dekstop .nav-item:nth-child(6) {
    border-bottom: none;
  }
}
